# Environnement virtuel
ssa-venv
test

# Inutiles
**/__pycache__
ssa.log
app/uploads/*
!app/uploads/Manoeuvers_Ath_Python.xlsx
!app/uploads/Manoeuvers_Ath_Scilab.xlsx
app/export/**/SatInfo.txt
app/export/**/maneuvers.txt
app/static/czml/**/*.czml
app/static/images/**/*.jpg
app/static/images/**/*.png
app/static/images/**/*.html
app/static/images/op/*
!app/static/images/op/Sample.txt
!app/static/images/clouds.png
!app/static/images/stars.png
!app/static/images/twinkling.png

# MacOS
**/.DS_Store

# IntelliJ
.idea/

# Tâches à faire avant de rendre un livrable (vous en avez pas besoin)
launch.bat
TODO AVANT RENDU.txt
app/FileDownloader.py
app/SpaceWeather.py
app/proximity.py
app/routes-BACKUP.py
app/templates/space-weather-dashboard.html
app/templates/proximity.html
/dev/perso/
